.chat-main
  .main-header
    .main-header__left-box
      .main-header__group-name
        = @group.name
      %ul.main-header__left-box__member-list
        Member :
        %li.main-header__left-box__member-list-member
        - @group.users.each do |user|
          =user.name
    .main-header__edit-btn
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages
    .message
      .message__upper-info
        名前
      .message__daily
        2020/03/30
      .message__main-message
        投稿

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'form__text__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'new-message_submit-btn'

